@import "bootstrap/dist/css/bootstrap.min.css";

@media (max-width: 768px) {
  .preview-container table {
    width: 100% !important;
    table-layout: auto !important;
    font-size: 14px !important;
  }

  .preview-container th,
  .preview-container td {
    padding: 0.25rem !important;
    word-break: break-word !important;
  }

  .preview-container {
    font-size: 14px;
    line-height: 1.3;
  }
}