---
import Navbar from "../components/layout/Navbar.jsx";
---

<html lang="es">
  <head>
    <slot name="head" />
  </head>
  <body>
    <Navbar client:load/>
    <main class="pt-16">
      <!-- Deja espacio para el navbar fijo -->
      <slot />
    </main>
  </body>
</html>
