---
import Navbar from "../components/layout/Navbar.jsx";
---

<html lang="es">
  <head>
    <slot name="head" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <Navbar client:load />
    <main class="pt-16">
      <!-- Deja espacio para el navbar fijo -->
      <slot />
    </main>
  </body>
</html>
